.cart-overlay {
    background: rgba(0,0,0,.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: all .5s ease;
}

.cart-closed {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    top: 0;
    right: -1500px;
    transition: all .5s ease;
}

.cart-opened {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    top: 0;
    right: 0;
    transition: all .5s ease;
    z-index: 100;

    .header-cart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        background-color: black;
        color: white;
        font-weight: bolder;
        
        h2 {
            margin: 20px 0;
            letter-spacing: 2px;
            font-size: 1.4rem;
        }

        .close-cart {
            cursor: pointer;
            font-size: 1.4rem;
        }
    }
}

.cart-titles {
    display: flex;
    justify-content: end;
    gap: 20px;
    font-size: 1rem;
    font-weight: bolder;
    letter-spacing: 2px;
}

.cart-items {

    .cart-pokemon {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        font-size: 1rem;
        letter-spacing: 2px;
        border-top: solid 1px gray;
        padding: 10px;

        img {
            width: 100px;
            height: 100px;
        }
    }
}



@media (min-width: 411px) {

    .cart-opened {
        width: 380px;
    }
}