.cart-overlay {
    background: rgba(0,0,0,.8);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    transition: all .5s ease;
}

.cart-closed {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    top: 0;
    right: -1500px;
    transition: all .5s ease;
}

.cart-opened {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    top: 0;
    right: 0;
    transition: all .5s ease;
    overflow-x: auto;
    z-index: 100;

    .header-cart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        color: white;
        font-weight: bolder;
        border-bottom: 2px dashed rgba(61, 61, 61, 0.815);
        
        h2 {
            margin: 15px 0;
            letter-spacing: 2px;
            font-size: 1.2rem;
            color: black;
        }

        .close-cart {
            cursor: pointer;
            font-size: 0.8rem;
            color: #999;
            &:hover {
                color: red;
                cursor: pointer;
            }
        }
    }

    .main-cart {
        margin: 0 20px;

        .cart-total {
            display: flex;
            justify-content: space-between;
            border-bottom: solid 2px rgba(173, 173, 173, 0.568);
            padding: 15px;
            margin: 0;
            font-size: 1.2rem;
            font-weight: bolder;
        }

        .button-finalize-purchase {
            width: 100%;
            background-color: rgb(1, 129, 1);
            margin: 20px 0;
        }
    }
}

.cart-items {

    .cart-pokemon {
        display: flex;
        gap: 20px;
        border-bottom: solid 2px rgba(173, 173, 173, 0.568);
        padding: 10px 0;

        img {
            width: 90px;
            height: 110px;
        }

        .cart-data {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 30px;

            h4 {
                text-transform: capitalize;
                margin: 0;
                font-size: 1.3rem;
                font-weight: bolder;
                letter-spacing: 2px;
            }

            .cart-qnty-price {
                display: flex;
                justify-content: space-between;
                gap: 15px;
                margin: 10px 10px 5px 10px;
                font-size: 1.1rem;

                .cart-qnty {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;

                    p{
                        border: 1px solid black;
                        padding: 7px;
                        margin: 0;
                    }

                    span {
                        cursor: pointer;
                        font-weight: bolder;
                    }

                    .add-qnty {
                        padding-top: 4px;
                    }
                }
            }

            .cart-price {
                padding-top: 9px;
                margin: 0;
            }


            .fa-trash {
                margin-left: 29px;
                font-size: 0.9rem;
                font-weight: bold;
                cursor: pointer;
                transition: 0.3s ease-in-out;  
            }

            .fa-trash:hover {
                color: rgba(0, 0, 0, 0.705);
                transition: 0.3s ease-in-out;  
            }
        }
    }
}



@media (min-width: 411px) {

    .cart-opened {
        width: 380px;
    }
}