* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    background: #E8E8E8;
  }

.pokemon {
    padding: 30px 10px;
    background-color: white;
    text-transform: capitalize;
    font-size: 1.4rem;

    .poke-ajuste {

        img {
            width: 80%;
        }

        .poke-info {

            h1 {
                margin-top: 0;
            }

            .altura {
                margin: 0;
            }
            
            .peso {
                margin: 0
            }

            li {
                padding-left: 30px;
            }

            ul {
                text-align: left;
            }
            
        }
    }

    .poke-mov-hab {
        ul {
            text-align: left;
        }

        li {
            padding-left: 30px;
        }
    }
}

@media (min-width: 1030px) {
    .pokemon {
        width: 70%;
        margin-right: 20px;
    
        .poke-ajuste {
            padding: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
    
            img {
                align-self: flex-start;
                width: 65%;
            }
    
            .poke-info {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin: 10px;
                text-transform: capitalize;
    
                .altura {
                    margin: 0;
                }
                
                .peso {
                    margin: 0
                }
    
                ul {
                    text-align: left;
                }

                li {
                    padding-left: 10px;
                }
            }
        }
    
        .poke-mov-hab {
            padding: 0 70px;
            display: flex;
            justify-content: flex-start;
            gap: 150px;

            li {
                padding-left: 0;
            }
        }
    }
}
