button {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: white; 
    cursor: pointer;
    background-color: rgb(17, 17, 99); 
}

button:hover {
    background-color: darkblue;
    box-shadow: 0 0 0.3em darkblue;
}
