* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 1.4rem;
    
    .poke-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        .dados-pokemons {
            border: solid 1px rgb(121, 101, 101);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 160px;
            height: 370px;
            gap: 7px;
            background-color: white;
            border-radius: 15px;
            cursor: pointer;
            margin: 0;

            &:hover {
                outline: solid 4px #bdbdbd;
                img {
                  transform: scale(1.1);
                }
            }


            img {
                text-align: center;
                width: 120px;
                height: 160px;
            }

            .poke-name {
                text-transform: capitalize;
                margin: 0;
            }

            .price-from {
                margin: 0;
                text-decoration: line-through;
                font-size: 1.2rem;
            }

            .price-to {
                margin: 0;;
                font-weight: bold;
                font-size: 1.3rem;
            }

            .poke-buy {
                width: 130px;
            }

        }            
    }

    .button-load button{
        width: 200px;
        margin: 30px;
        background-color: #991717;
    }

    .button-load button:hover {
        background-color: #580d0d;
        box-shadow: 0 0 0.5em #580d0d;
        transition: all ease 0.5s;
    }
}

@media (min-width: 450px) {
    .main .poke-list {
        gap: 30px;

        .dados-pokemons {
            width: 190px;
            height: 370px;
            gap: 10px;

            .poke-buy {
                width: 150px;
                margin-top: 7px;
            }
        }
    }
    
    
}