.about {
    background-color: white;
    text-align: center;
    padding: 30px 10px;
    font-size: 1.4rem;

    .about-title {

        h1 {
            margin: 0;
        }
    
        h3 {
            margin: 30px;
        }
    
        p {
            line-height: 1.6rem;
            text-align: justify;
            text-indent: 1.6rem;
        }

    
        .main-tecnologies {
            list-style: circle;
            text-align: left;
    
            li {
                padding-left: 10px;
            }
        }

    }

    h3 {
        margin: 30px;
    }

    .other-projects {

    }   
}

@media (min-width: 1030px) {
    .about {
        margin-right: 47px;

        .about-title {
            
            h1 {
                padding: 20px;
            }

            p {
                margin: 20px;
            }
    
        
            .main-tecnologies {
                margin: 20px;
            }
    
        }

        .other-projects {
    
        }  
    }
}