* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    background: #E8E8E8;
}

.footer {
    background-color: black;

    .acessos-footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        color: white;
        padding-top: 20px;
        gap: 5px;
        font-size: 20px;
        cursor: pointer;
    }

    .info {
        color: white;
        font-size: 12px;
        text-align: center;
        padding: 20px;
        margin: 0;
    }

    .social-media a {
        padding: 5px;
        font-size: 20px;
        text-decoration: none;
        color: white;

    }
}