* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    background: #E8E8E8;
}

.footer {
    background-color: black;
    padding: 50px 50px 10px;

    .nav-footer {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;

        li {
            padding: 10px;
        }
    } 
    
    .info {
        color: white;
        font-size: 16px;
        text-align: center;
        padding: 20px;
        margin: 0;
        line-height: 1.4rem;

        .github {
            text-decoration: none;
            color: deepskyblue;
            padding: 3px;
        }
    }

    .social-media {
        margin: 80px 0 20px;

        a {
        padding: 10px;
        font-size: 25px;
        text-decoration: none;
        color: white;
        }
    }
}

@media (min-width: 411px) {

    .nav-footer {
        display: flex;
        justify-content: center;

        ul {
            justify-content: center;
        }
    }
}